@import "./mixins.scss";

nav {
  background: #8a002e;
  .container {
    background: #8a002e;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    color: ghostwhite;
 
    h1 {
      font-size: 1.4rem;
      position: relative;
      padding: 0px 15px;
      @include responsive(mobile) {
        padding-left: 10px;
      }

      .car-logo {
        position: absolute;
        font-size: 1.7rem;
        top: 0px;
        left: 195px;
        @include responsive(mobile) {
          left: 78px;
          top: -17px;
        }
      }
    }
    h2 {
      padding-right: 10px;

      display: flex;
      .heart-logo {
        font-size: 20px;
        margin: 0px 6px;
      }
    }
  }
}
